/*HEADER*/
.header-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*APLICACION DE MAP - DECLARADO EN _VARIABLES - */
  background-color: #f7a2aa;
}

.header-1 .logo {
  padding-right: 3em;
}

.header-1 .logo img {
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.header-1 .logo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.header-1 .navbar {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-1 .navbar .navbar-nav a {
  /*APLICACION DE MIXIN - DECLARADO EN _VARIABLES - */
  font-size: 15px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-right: 1em !important;
  padding-left: 2em !important;
}

.header-1 .navbar .navbar-nav a:hover {
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  color: #FFFF;
}

/*FOOTER*/
footer {
  /*APLICACION DE MAP - DECLARADO EN _VARIABLES.SCSS - */
  background-color: #3A3E53;
  padding-top: 15px;
}

footer .row_footer {
  padding-top: 25px;
}

footer .row_footer .logo img {
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

footer .row_footer .logo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

footer .row_footer .fab {
  font-size: 37px;
  padding-left: 15px;
  padding-right: 15px;
}

footer .row_footer .nav_footer a {
  /*APLICACION DE MIXIN*/
  font-size: 15px;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: black;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 12px;
}

footer .row_footer .nav_footer a:hover {
  /*APLICACION DE MAP - DECLARADO EN _VARIABLES.SCSS - */
  color: #FFFF;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

footer .row_footer .area_circulo .icon {
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .row_footer .fa-instagram:hover {
  color: #D22987;
  -webkit-transition: .5s;
  transition: .5s;
}

footer .row_footer .fa-facebook:hover {
  color: #3b5999;
  -webkit-transition: .2s;
  transition: .2s;
}

@media only screen and (max-width: 335px) {
  footer .row_footer .nav_footer a {
    font-size: 12px;
    font-weight: bold;
  }
}

/*INDEX*/
.jumbotron-fluid {
  background-image: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

.main_deck {
  padding-top: 1.5em;
}

.main_deck .card_index {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 3em;
}

.main_deck .card_index img {
  max-width: 25rem;
  height: 80%;
}

.main_deck .card_index .card-title {
  padding-top: 1em;
}

@media only screen and (max-width: 335px) {
  .jumbotron-fluid {
    min-height: 65vh;
  }
  .jumbotron-fluid h1 {
    font-size: 50px;
  }
}

/*PAGE NOSOTROS*/
.contenedor_principal {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contenedor_principal h1 {
  letter-spacing: 5px;
  font-weight: bolder;
  text-transform: uppercase;
  border-style: solid none;
  padding: 10px 0px 10px;
}

.featurette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.featurette .card_nosotros {
  margin: 5px 0px 15px 0px;
}

.featurette .featurette-image {
  width: 25rem;
  height: 80%;
  border-radius: 20%;
}

/*PAGE OBJETIVO*/
.card_objetivo {
  margin-bottom: 20px;
}

.contenedor_principal {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contenedor_principal h1 {
  letter-spacing: 5px;
  font-weight: bolder;
  text-transform: uppercase;
  border-style: solid none;
  padding: 10px 0px 10px;
}

/*PAGE COLABORAR*/
.contenedor_principal {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contenedor_principal h1 {
  letter-spacing: 5px;
  font-weight: bolder;
  text-transform: uppercase;
  border-style: solid none;
  padding: 10px 0px 10px;
}

.tarjeta-ayudar {
  text-align: center;
  padding: 20px 0px 20px 0px;
}

.tarjeta-ayudar .card_ayudar img {
  width: 21rem;
  height: 80%;
}

/*PAGE CONTACTO*/
.contenedor_principal {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contenedor_principal h1 {
  letter-spacing: 5px;
  font-weight: bolder;
  text-transform: uppercase;
  border-style: solid none;
  padding: 10px 0px 10px;
}

.container_contacto {
  width: 80%;
  margin: 4rem auto 4rem auto;
}

.container_contacto .formulario_contacto, .container_contacto .formulario_contacto .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*APLICACION DE @EXTEND*/
}

.container_contacto .formulario_contacto .form-group {
  width: 80%;
  /*APLICACION DE MAP - DECLARADO EN _VARIABLES - */
}

.container_contacto .formulario_contacto .form-group label {
  font-size: 20px;
}

.container_contacto .formulario_contacto .form-group .form-control {
  border-radius: 5px;
  line-height: 22px;
  border: 2px solid #3a3e53;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: 0px;
}

.container_contacto .formulario_contacto .form-group .form-control:focus {
  border: 2px solid #3a3e53;
}

.container_contacto .formulario_contacto .form-group textarea {
  width: 100%;
  font-size: 17px;
  outline: none;
  border: none;
  margin-top: 7px;
  resize: vertical;
}

.container_contacto .formulario_contacto .form-group input {
  margin-top: 7px;
}

.container_contacto .formulario_contacto .form-group input[type=submit] {
  margin: 14px auto;
  cursor: pointer;
}

.container_contacto .map iframe {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */