.jumbotron-fluid {
    background-image: url(../img/portada-o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}

.main_deck {
    padding-top: 1.5em;

    .card_index {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 3em;

        img {
            max-width: 25rem;
            height: 80%;
        }

        .card-title {
            padding-top: 1em;
        }
    } 
}

@media only screen and (max-width: 335px) {
    .jumbotron-fluid { 
        min-height: 65vh;
        
        h1 {
            font-size: 50px;
        }
    }
}