/*Mapa aplicado en partials*/

$colores : (
    rosa: #f7a2aa,
    babyblue: #D4E8ED,
    blanco: #FFFF,
    secundario: #3A3E53,
);

/*Mixin aplicado en header y footer*/

@mixin navitem {
    font-size: 20px;
    transition: transform 250ms;
}
