/*PAGE COLABORAR*/
.contenedor_principal {
    @include contenedor__titulo; 
}

.tarjeta-ayudar {
    text-align: center;
    padding: 20px 0px 20px 0px;
    flex-direction: row;
    flex-wrap: wrap;

    .card_ayudar img {
    width: 21rem;
    height: 80%;
    border-radius: 91% 16% 84% 9% / 25% 75% 12% 88%;
    padding-bottom: 10px;
    }

    .texto_ayudar {
        padding-top: 1em;
    }  
}

.ayudar_agrupaciones {
    padding: 1em 0 1em 0;
    text-align: center;

    img {
        max-width: 20rem;
        height: 90%;
        border-radius: 21% 41% 20% 15% / 40% 31% 32% 15%;
    }

    p {
        padding-bottom: 6px;
    }

    .logo_prot_ayudar {
        padding: 10px 0 10px 0;
        max-width: clamp(8rem, 10vw, 5rem);
        height: 80%;
        transition: transform 300ms;

        &:hover {
            @include hoverlogos
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 366px) {
    .ayudar_agrupaciones {
        img {
            max-width: 12rem;
        }
    }
}
