/*PAGE COLABORAR*/
.contenedor_principal {
    @include contenedor__titulo; 
}

.tarjeta-ayudar {
    text-align: center;
    padding: 20px 0px 20px 0px;

    .card_ayudar img {
    width: 21rem;
    height: 80%;
    border-radius: 91% 16% 84% 9% / 25% 75% 12% 88%;
    padding-bottom: 10px;
    }

    .texto_ayudar {
        padding-top: 1em;
    }  
}

.ayudar_agrupaciones {
    padding: 1em 0 1em 0;

    img {
        max-width: 23rem;
        height: 80%;
        border-radius: 23% 43% 20% 18% / 46% 33% 35% 19%;
    }

    p {
        padding-bottom: 6px;
    }

    .logo_prot_ayudar {
        padding: 10px 0 10px 0;
        max-width: clamp(8rem, 10vw, 5rem);
        height: 82%;
        transition: transform 300ms;

        &:hover {
            @include hoverlogos
        }
    }
}

@media only screen and (max-width: 335px) {
    .ayudar_agrupaciones {
        img {
            max-width: 18rem;
            height: 80%;
        }
    }
}
