/*PAGE CONTACTO*/
.contenedor_principal {
    @include contenedor__titulo; 
}

.container_contacto {
    width: 80%;
    margin: 2rem auto 2rem auto;

    .formulario_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    
        /*APLICACIÓN DE @EXTEND*/
        .form-group {
            @extend .formulario_contacto;
            width: 80%;
            
            label { 
            font-size: 20px;
            }

            /*APLICACIÓN DE MAP - DECLARADO EN _VARIABLES - */
            .form-control {
                border-radius: 5px;
                line-height: 22px;
                border: $borde-secundario;
                transition: all 0.3s;
                outline: 0px;

                &:focus { 
                    border: $borde-secundario;
                }  

                &.desplegable {
                    margin-top: $margin-contacto;
                }
            }

            textarea {
                width: 100%;
                font-size: 17px;
                outline: none;
                border: none;
                margin-top: $margin-contacto;
                resize: vertical;
            }

            input { 
                margin-top: $margin-contacto;
            }

            input[type=submit]{
                margin: 14px auto;
                cursor: pointer;
            }
        }
    }

    .map iframe {
        width: 90%;
        height: 90%;
    }
}