/*INDEX*/
.jumbotron-fluid {
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 88vh;

    h1 {
        color: black;
        padding-top: 3rem;
    }

    p {
        padding-top: 3rem;
        padding-bottom: 1rem;
        color: black;
        font-weight: 350;
        font-size: 2.5vh;
    }

    .boton-index {
        color: colores(babyblue);
        padding: 7px 12px;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.1em;
        box-shadow: transparent;
        transition: ease-out 0.5s;   
        
        &:hover {
            box-shadow: transparent;
            text-decoration: none;
        }
    }
}

.main_deck {
    padding-top: 1.5em;

    .card_index {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 4em;

        img {
            max-width: 46vh;
            height: 80%;
            border-radius: 100% 45% 39% 29% / 34% 33% 40% 35% ; 
        }

        .card-title {
            padding-top: 1em;
        }
    } 
}

.container-agrupaciones {
    padding-bottom: 2em;

    .fila-logos {
        align-items: center;
        padding: 1em;

        .logo_protectora {
            padding: 10px 0 10px 0;
            max-width: clamp(8rem, 10vw, 5rem);
            height: 82%;
            transition: transform 300ms;

            &:hover {
                @include hoverlogos
            }
        }          
    }    
}

@media only screen and (max-width: 335px) {
    .jumbotron-fluid { 
        min-height: 65vh;
        
        h1 {
            font-size: 50px;
        }
    }
}