/*PAGE NOSOTROS*/
.contenedor_principal {
    @include contenedor__titulo; 
}

.featurette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;

    .card_nosotros { 
        margin: 5px 0px 15px 0px;
    }

    .featurette-image {
    width: 25rem;
    height: 80%;
    border-radius: 20%;
    }
}


