/*FOOTER*/
footer {
    /*APLICACION DE MAP - DECLARADO EN _VARIABLES.SCSS - */
    background-color: map-get($colores ,secundario);
    padding-top: 15px;

    .row_footer { 
        padding-top: 25px;
        
        .logo {
            img {
                transition: transform 250ms;
            }
    
            img:hover {
                transform: scale(1.1);
                transition: all ease 500ms; 
            }   
        }
        .fab {
            font-size: 37px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .nav_footer a {
            /*APLICACION DE MIXIN*/
            @include navitem;
            color: black; 
            padding-right: 1em;
            padding-left: 1em;
            padding-top: 12px;
        }

        .nav_footer a:hover { 
            /*APLICACION DE MAP - DECLARADO EN _VARIABLES.SCSS - */
            color: map-get($colores, blanco); 
            transform: translateY(-4px);}

        .area_circulo .icon {
                color: black;
                transition: .5s;
            }    

        .fa-instagram:hover  {
                color: #D22987;
                transition: .5s;
            }
        
        .fa-facebook:hover {
            color: #3b5999;
            transition: .2s;
            }
    }
}

@media only screen and (max-width: 335px) {
    footer {
        .row_footer {
            .nav_footer {
                a {
                 font-size: 12px;
                 font-weight: bold;
                }   
            }
        }
    }
}