@import "variables";

.header-1 {
    display: flex;
    flex-direction: column;
    background-color: map-get($colores, rosa);

    .logo {
        padding-right: 3em;

        img {
            transition: transform 250ms;

            &:hover {
            transform: scale(1.1);
            transition: all ease 500ms;   
            }
        }
    }

    .navbar {
        align-self: center;

        .navbar-nav {  
            a {
                @include navitem;
                padding-right: 1em !important;
                padding-left: 2em !important;

                &:hover {
                    transition: transform 150ms;
                    transform: translateY(-6px);
                }
            }
        }
    }
}